/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */



/* Stock indicator on product page: icon color
-------------------------------------------------------------- */

/*
.availability-only .ic { color: green; }
*/



/* Product counter in the mini cart drop-down
-------------------------------------------------------------- */

/*
.header .skip-link .count {
	background-color: deepskyblue;
}
*/

#row2 .grid12-4 {
    position: relative;
}

#row2 .grid12-4 .caption {
    z-index: 9;
}

.crew-block {
    width: 170px;
    margin: 10px 20px 20px 0;
    float: left;
    min-height: 390px;
    position: relative;
}

.crew-block img {
    margin-bottom: 10px;
}

a.cta-mobile-number {
	text-align: center;
	display: block;
	background: #205e98;
	color: white;
	width: 100%;
	font-size: 16px;
	padding-bottom: 4px;
	letter-spacing: .3px;
}

a.cta-mobile-number::before {
	content: 'Call Now for Outdoor Gear';
	display: block;
	font-size: 12px;
	padding-top: 2px;
}

.cta-scroll {
	 position: fixed;
	 top: 0;
	 margin: 0;
	 padding: 0;
	 margin-left: -12px;
	 z-index: 1020;
}

/* Contact Page */

.contact-address-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
    margin-left: 23px;
    margin-bottom: 23px;
}

.contact-container iframe {
    margin-top: 23px;

}

img.contact-us-image {
    margin-top: 36px;
}
@media only screen and (max-width: 991px) {
    .service-blocks .col-md-4 {
        max-width: 360px;
        margin: auto;
}
